*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
/* styling heading */
body{
    background-color: #f7e79d;
}
.header{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: sticky;
    top: 0;
    width: 100%;
    /* background: url("./photos/background.png"); */
    background-image: linear-gradient(to right,#f7e79d,white);
    background-size: cover;
    height: 10vh;
}
.fbutton {
    margin-left: 0.5rem;
    height: 3rem;
    width: 9rem;
    font-size: 1.4rem;
    font-weight: 100;
    border-radius: 5px;
    background-image:  linear-gradient(to right,#f7e79d,white);
}
.icon_img img{
    height: 4rem;
    width: 4rem;
}
.icon_img{
    display: flex;
    justify-content: center;
    align-items: center;
}
.icon_img p{
    margin-left:0.5rem;
}
.lower_head{
    container-type: inline-size;
}
.lower_head p{
    font-size: 5cqi;
    padding: 0.5rem;
}
.lower h1{
    text-align: center;
    padding: 0.6rem;
    font-size: 2.5rem; 
}
/* Menu for the restaurent */
.flip_card{
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.6s;
    height: 450px;
    width: 280px;

}
.front{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    border-radius: 20px;
    flex-direction: column;
    box-shadow: 7px 7px black;
}
.front p{
    padding: 0.6rem;
    backface-visibility: hidden;
}
.front img{

    height: 240px;
    width: 240px;
    border-radius: 40%;
    filter: drop-shadow(5px 5px 10px  black);
    display: block;
}
.back, .front{
    position: absolute;
    backface-visibility: hidden;
}
.back{
    transform: rotateY(180deg);
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    border-radius: 20px;
    flex-direction: column;
    box-shadow: 7px 7px black;
}
.back img{
    width: 70%;
    height: auto;
    margin: auto;
}
.back p{
    position: absolute;
    bottom: 50px;
    margin-left: 0.5rem;
}
.rotate{
    animation: rotation infinite 20s linear;
}
.flipcard_main:hover .flip_card{
    transform: rotateY(180deg);
}
@keyframes rotation{
    from{
        transform: rotatez(0deg);
    }
    to{
        transform: rotatez(360deg);
    }
}
.menu {
    display:flex;
    justify-content: space-around;
    padding: 0.6rem;
    flex-wrap: wrap;
}
/* Last section styling */
.subscribe input,button{
    display: block;
}
.subscribe{
    display: flex;
    flex-direction: column;
}
.subscribe input{
    width: 80vw;
    height: 40px;
    border-radius: 10px;
    margin-left: 0.5rem;
    box-shadow: 2px 2px gray;
}
.last_sec{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.about{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.f_img img{
    display: block;
    height: 40px;
    width: 40px;
    margin: auto;
}
.f_img{
    display: flex;
}
@media(max-width:480px){
.nav {
    display: flex;
    list-style:none;
    justify-content: space-around;
    width: 100%;
    margin-top: 1rem;
}

.lower_img{

    height: 50vh;
    width: 100%;
    background: url("./photos/chicken_biryani.jpg");
    background-size: cover;
    background-position: center center;
    border-radius: 10px;
    background-clip: content-box;
    background-size: cover;
    padding: 10px;
}
.icons{
    margin-top: 0.5rem;
    padding: 0.5rem;
}
.chooseus{
row-gap: 0.5rem;
padding: 0.5rem;
}
/* last section styling */
.subscribe input,button{
    display: block;
}
.subscribe{
    display: flex;
    flex-direction: column;
    row-gap: 0.5rem;
    padding: 0.8rem;
}
.subscribe input{
    width: 80vw;
    height: 40px;
    border-radius: 10px;
    margin-left: 0.5rem;
}
/* Footer styling */
.f_lower{
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    margin-bottom: 1rem;
}
}
/* For desktops */
@media (min-width:481px){
    .nav{
        width: 100%;
        display: flex;
        justify-content:space-around;
    }
    .lower{
        display: flex;
        height: 70vh;
        padding: 1rem;
    }
    .lower_head{
        width: 100%;
    }
    
    .lower_img{
        width: 100%;
        background: url("./photos/chicken_biryani.jpg");
        background-size: cover;
        background-position: center center;
        box-shadow: 8px 8px black;
        border-radius: 10px;
    }
    .icons{
        display: flex;
        justify-content: space-around;
        width: 70vw;
    }
    .icon_button{
        /* height: 50vh; */
        row-gap: 0.5rem;
        width: 100vw;
        display: flex;
        flex-direction: column;
    }
    .chooseus{
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .chooseus h2{
        margin-left: 0.5rem;
        text-align: center;
        margin-bottom: 2rem;    
    }
    /* last section styling */
    .last_sec{
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .subscribe{
        width: 40vw;
        row-gap: 1rem;
    }
    .subscribe input{
      width: 60%  
    }
    .footer{
        row-gap: 0.5rem;
        height: 40vh;
        bottom: -70px;
    }
    .fhead{
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 0.rem;
        padding: 0.5rem;
    }
    .f_lower{
        display: grid;
        width: 25vw;
        grid-template-columns: repeat(2,1fr);
    }
    .f_img{
        margin-top: 0.5rem;
    }
}
/* Button Hover Styling */
.fbutton:hover{
    background-image: linear-gradient(to right,black,gray);
    color: white;
}
.nav h4:hover{
    text-decoration: underline;
}
.about h3:hover{
    text-decoration: underline;
}
.about p:hover{
    text-decoration: underline;
}